# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

# <font color='blue'>Capítulo 3</font>

## List Comprehension

In [1]:
# Definindo um array com a função Bult-in range()
array1 = range(0,15)

In [3]:
# Retornando os elementos do Array
print(array1)

range(0, 15)

In [4]:
# Retornando o tipo do objeto
type(array1)

range

In [5]:
# Aplicando list comprehension
# Para cada elemento no array1, o elemento será elevado ao cubo
[item ** 3 for item in array1]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

In [6]:
# Para cada elemento no array1, será exibido somente o elemento que for Par
[item for item in array1 if item % 2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14]

In [7]:
# Para cada elemento no array1, será exibido somente o elemento que for Par, após ser elevado ao quadrado.
[item ** 2 for item in array1 if item % 2 == 0]

[0, 4, 16, 36, 64, 100, 144, 196]

In [11]:
# Lista de Frases
lista_frases = ["Big Data",
                "Machine Learning em Big Data e Algoritmos em Big Data",
                "Data Science e Big Data",
                "Big Data e Internet das Coisas",
                "Big Data está revolucionando o mundo, pois Big Data é um grande volume de dados"]

In [12]:
# Para cada elemento na lista_frases, será exibido somente a frase que conter dois ou mais conjuntos de palavras "Big Data"
[item for item in lista_frases if item.count("Big Data") >= 2]

['Machine Learning em Big Data e Algoritmos em Big Data',
 'Big Data está revolucionando o mundo, pois Big Data é um grande volume de dados']

In [10]:
# Para cada elemento no array1, aplique a função decimal, transformando cada elemento em número decimal.
[float(item) for item in array1]

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0]

# Funções Lambda

In [13]:
# Definindo um array com a função Bult-in range()
array1 = range(0,15)

In [14]:
# Retornando os elementos do Array
print(array1)

range(0, 15)

In [15]:
# Retornando o tipo do objeto
type(array1)

range

In [16]:
# Aplicando list comprehension
[item ** 2 for item in array1]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [17]:
# Definindo uma função
def square(num):
    return num ** 2

In [18]:
# Aplicando a função map()
list(map(square, array1))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [19]:
# Função Lambda
# Para cada elemento do Array1, cada elemento será elevado ao quadrado, e será impresso o resultado na tela.
list(map(lambda num: num**2, array1))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [20]:
# Retornando os números pares do range elevado ao quadrado.
list(map(lambda a: a**2, filter(lambda a: a % 2 == 0, range(1,20))))

[4, 16, 36, 64, 100, 144, 196, 256, 324]

## Fim