# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Big Data Real-Time Analytics com Python e Spark</font>

# <font color='blue'>Capítulo 3</font>

## Pandas Series

In [1]:
# Importando os Pacotes
import sys
import numpy as np
import pandas as pd
print(sys.version)
pd.__version__

3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]

'0.24.2'

## Valores NaN (Not a Number)

In [2]:
# Criando um Objeto NumPy
array1 = np.array([1,2,3,np.nan])

In [3]:
# Retornando os elementos do array
array1

array([ 1.,  2.,  3., nan])

In [4]:
# Retornando a média do elemento array
array1.mean()

nan

In [5]:
# Usando Pandas
serie2 = pd.Series([1,2,3,np.nan])

In [6]:
# Retornando os elementos do array
serie2

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

In [7]:
# Retornando a média do elemento série
serie2.mean()

2.0

## Concatenando as Séries

In [8]:
# Seed para possibilitar a reprodução dos mesmos resultados
np.random.seed(567)

In [9]:
# Criando um conjunto de dados randomicos com a função Random do NumPy e convertendo para Series do Pandas
serie3 = pd.Series(np.random.rand(5))

In [10]:
# Retornando os elementos da Série
serie3

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
dtype: float64

In [11]:
# Criando um conjunto de dados randomicos com a função Random do NumPy e convertendo para Series do Pandas
serie4 = pd.Series(np.random.rand(5))

In [12]:
# Retornando os elementos da Série
serie4

0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [13]:
# Concatenando as duas séries do Pandas, com a função concat
combo = pd.concat([serie3, serie4])

In [14]:
# Retornando os elementos da Concatenação
combo

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
0    0.302074
1    0.876231
2    0.705643
3    0.681150
4    0.548266
dtype: float64

In [15]:
# Retornando o elemento de índice 0 
combo[0]

0    0.304782
0    0.302074
dtype: float64

In [16]:
# Realizando a correção do índice
combo.index = range(combo.count())

In [17]:
# Retornando os elementos da Concatenação após a correção do índice
combo

0    0.304782
1    0.953033
2    0.964709
3    0.343762
4    0.993886
5    0.302074
6    0.876231
7    0.705643
8    0.681150
9    0.548266
dtype: float64

In [18]:
# Realizando a reindexação das posições 0,2,6 e 21
combo.reindex([0,2,16,21])

0     0.304782
2     0.964709
16         NaN
21         NaN
dtype: float64

In [19]:
# Realizando a reindexação e substituindo os dados NaN com zero
combo.reindex([0,2,16,21], fill_value = 0)

0     0.304782
2     0.964709
16    0.000000
21    0.000000
dtype: float64

In [20]:
# Realizando a reindexação das posições 0,2,6 e 21
new_combo= combo.reindex([0,2,16,21])

In [21]:
# Retornando os elementos do objeto
new_combo

0     0.304782
2     0.964709
16         NaN
21         NaN
dtype: float64

In [22]:
# Retornando os dados com a função foward fill (Preencha para frente)
new_combo.ffill()

0     0.304782
2     0.964709
16    0.964709
21    0.964709
dtype: float64

In [23]:
# Retornando os dados com a função back fill (Preencha para trás)
new_combo.bfill()

0     0.304782
2     0.964709
16         NaN
21         NaN
dtype: float64

In [25]:
# Preenche os campos com NA pelos valores colocados entre parenteses.
new_combo.fillna(1)

0     0.304782
2     0.964709
16    1.000000
21    1.000000
dtype: float64

## Operações com Séries - Índices Diferentes

In [27]:
# Criando uma Objeto com Séries em Pandas, com elementos randomicos gerados pelo NumPy
s1 = pd.Series(np.random.randn(5)); s1

0    0.724774
1    0.124588
2    1.023399
3    2.221557
4    1.130909
dtype: float64

In [28]:
# Criando uma Objeto com Séries em Pandas, com elementos randomicos gerados pelo NumPy
s2 = pd.Series(np.random.randn(5)); s2

0   -0.651538
1   -1.179986
2    0.437101
3   -0.607102
4    1.310954
dtype: float64

In [29]:
# Realizando a soma de dois objetos Séries unidimensionais, com índices correspondentes
s1 + s2

0    0.073236
1   -1.055398
2    1.460500
3    1.614455
4    2.441862
dtype: float64

In [30]:
# Modificando os índices do Objeto de Série 2
s2.index = list(range(3,8)); s2

3   -0.651538
4   -1.179986
5    0.437101
6   -0.607102
7    1.310954
dtype: float64

In [31]:
# Realizando a soma de dois objetos Séries unidimensionais, com índices não correspondentes
s1 + s2

0         NaN
1         NaN
2         NaN
3    1.570019
4   -0.049077
5         NaN
6         NaN
7         NaN
dtype: float64

In [32]:
# Realizando a reindexação dos objetos, e substituindo os valores NaN por zero.
s1.reindex(range(10), fill_value = 0) + s2.reindex(range(10), fill_value = 0)

0    0.724774
1    0.124588
2    1.023399
3    1.570019
4   -0.049077
5    0.437101
6   -0.607102
7    1.310954
8    0.000000
9    0.000000
dtype: float64

In [33]:
# Crianção de um objeto Séries
s1 = pd.Series(range(1,4), index = ['a', 'a', 'c']); s1

a    1
a    2
c    3
dtype: int64

In [34]:
s2 = pd.Series(range(1,4), index = ['a', 'a', 'b']); s2

a    1
a    2
b    3
dtype: int64

In [35]:
# Realizando a soma de dois objetos Séries unidimensionais, com índices não correspondentes
s1 * s2

a    1.0
a    2.0
a    2.0
a    4.0
b    NaN
c    NaN
dtype: float64

In [36]:
s1 + s2

a    2.0
a    3.0
a    3.0
a    4.0
b    NaN
c    NaN
dtype: float64

## Copiando uma Série

In [37]:
# Realizando a Cópia de uma Série
s1_copy = s1.copy()

In [38]:
s1_copy['a'] = 3

In [39]:
s1_copy

a    3
a    3
c    3
dtype: int64

In [40]:
s1

a    1
a    2
c    3
dtype: int64

## Função map() do Pandas

In [41]:
# Função map() - versão do Pandas
s1.map(lambda x: x** 2)

a    1
a    4
c    9
dtype: int64

In [42]:
s1.map({1:2, 2:3, 3:12})

a     2
a     3
c    12
dtype: int64

In [44]:
s1.map({2:3, 3:12})

a     NaN
a     3.0
c    12.0
dtype: float64

# Fim